/* =========================
   Be Vietnam Pro
   ========================= */

/* Thin */
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* ExtraLight */
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* SemiBold */
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold */
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'BeVietnamPro';
  src: url('./beVietNamProFont/BeVietnamPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
