* {
  font-family: 'BeVietnamPro', sans-serif !important;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}


.title {
  font-size: 36px;
  font-weight: 700;
}

.sub {
  font-weight: 300;
  font-style: italic;
}

/*Common*/
.fs-7 {
  font-size: 14px;
}

.fs-8 {
  font-size: 12px;
}

.bg-outline-danger {
  background-color: rgba(220, 53, 69, 0.12); /* đỏ mờ */
  border: 2px solid #dc3545;
  color: #dc3545;
  border-radius: 10px;
}

.bg-outline-success {
  background-color: rgba(25, 135, 84, 0.12); /* xanh success mờ */
  border: 2px solid #198754;
  color: #198754;
  border-radius: 10px;
}


.bg-outline-primary {
  background-color: rgba(13, 110, 253, 0.12);
  border: 2px solid #0d6efd;
  color: #0d6efd;
  border-radius: 10px;
}

/*Gradient*/
.bg-gradient-primary {
  background: #007D88;
  background: linear-gradient(45deg, #007D88, #955cfa) !important;
}

.text-gradient-primary {
  background: linear-gradient(
          180deg,
          #b7d6ff 0%,
          #8fb9ff 50%,
          #6fa8ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.bg-gradient-blue-dark {
  background: linear-gradient(
          135deg,
          #0d6efd 0%,   /* Bootstrap primary */
          #3b82f6 50%,  /* xanh sáng hơn */
          #60a5fa 100%  /* xanh nhạt */
  );
  color: white;
}


